@charset "UTF-8";

html {
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255, 1);
  font-size: 1em;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; 
}

body {
  background-color: rgba(0,0,0,1);
  margin: 0;
  min-height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Swiss911";
  src: url("https://www.dropbox.com/s/2dkb95u6l507tgp/swiss911.eot");
  src: url("https://www.dropbox.com/s/2dkb95u6l507tgp/swiss911.eot?#iefix") format("embedded-opentype"),url("https://www.dropbox.com/s/b83qbg4tviqz5yg/swiss911.woff2") format("woff2"),url("https://www.dropbox.com/s/wqwkpe71mxe7e8b/swiss911.woff") format("woff"),url("https://www.dropbox.com/s/xehi1q1plbsn9qa/swiss911.ttf") format("truetype");
}

html, body {
  font-family: "Swiss911", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

p {
  color: #FFCC99;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.5px;
  margin-bottom: 16px;
  padding: 0 0.5em;
}

p.direction {
  color: #FF9966;
  padding: 0 1.5em;
}

.stardate-bar {
  background-color: #FF9966;
  height: 6em;
  margin: 4em 1em 2em 1em;
  -webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px;
}

.stardate-text {
  background-color: rgba(0,0,0,1);
  color: #CC6699;
  display: inline-block;
  font-size: 6em;
  height: 100%;
  margin: 0 0 0 0.6em;
  padding: 0.4em 0.2em 0 0.2em;
  vertical-align: bottom;
}

.bar-separator {
  background-color: rgba(0,0,0,1);
  display: inline-block;
  height: 100%;
  left: 65%;
  position: relative;
  vertical-align: top;
  width: 1em;
}

@media screen and (min-width : 940px) {
  body {
  	margin: 0 auto;
  	max-width: 940px;
  }
}